body, html {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  margin: 0;
  padding: 0%;
  position: relative;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  transition: all 0.3s ease-out;
}
.main-section .drag-icon {
  position: absolute;
  left: 25%;
  top: 45%;
  width: 100px;
  -webkit-animation: drag_animation 2s ease infinite;
          animation: drag_animation 2s ease infinite;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3em;
}
.main-section .drag-icon img {
  width: 50px;
}
.main-section .overlay {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: none;
  transition: all 0.3s ease-out;
}
.main-section .overlay button {
  transition: all 0.3s ease-out;
  position: absolute;
  top: 5%;
  right: 5%;
  border: 1px solid white;
  border: 10px;
  padding: 5px;
}
.main-section .t-overlay {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: none;
}
.main-section .overlay_text {
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  transition-delay: 0.5s;
  position: absolute;
  z-index: 5;
  font-size: 5em;
  overflow: hidden;
}
.main-section .overlay_text .ghost_text {
  display: none;
  opacity: 0;
}
.main-section .overlay_text .overlay-text-content {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0%;
  padding: 10px;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.1, 1);
  transform: translateX(-100%) !important;
  transition-delay: 0.4s;
}
.main-section .overlay_text .text-reveal {
  transform: translateX(0) !important;
}
.main-section .img-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  background-color: white;
  transform: translate(0%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.5s ease-out;
  transition-delay: 0.2s;
}
.main-section .img-track .image {
  border-radius: 10px;
  width: 20vmin;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% center;
     object-position: 100% center;
  transition: all 0.5s ease-out;
  transition-delay: 0.3s;
}
.main-section .img-track .image:hover {
  -webkit-animation: cameraFocus 0.5s ease;
          animation: cameraFocus 0.5s ease;
}
.main-section .img-track .image-expand {
  position: absolute;
  height: 100%;
  width: 94vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: contain;
     object-position: contain;
}

.project-content {
  height: 100vh;
}

@-webkit-keyframes drag_animation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes drag_animation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes cameraFocus {
  25% {
    filter: blur(2px);
  }
  50% {
    filter: blur(0px);
  }
  75% {
    filter: blur(1px);
  }
  90% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes cameraFocus {
  25% {
    filter: blur(2px);
  }
  50% {
    filter: blur(0px);
  }
  75% {
    filter: blur(1px);
  }
  90% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0px);
  }
}/*# sourceMappingURL=styles.css.map */